---
layout: base
---
{% if page.cover_image %}
<div class="article-cover">
    <div>
        <img src="/images/{{ page.cover_image }}" class="image">
    </div>
</div>
{% endif %}
<article>

    <div class="container">
        <header>
            <div class="meta">
                <time pubdate datetime="{{ page.date | date: "%Y-%d-%B" }}" title="{{ page.date | date: "%B %d, %Y" }}">{{ page.date | date: "%B %d, %Y" }}</time>
            </div>
            <h1 class="title">{{ page.title }}</h1>
            <!--{% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}-->
        </header>

        <section>
          {{ content }}
          {% include _social.html %}
        </section>
        <section>
          <hr>
            <h2 class="widget-title">You Might Also Like</h2>
              <ul>
                {% for rel in site.related_posts limit:3 %}
                  <li><a href="{{ rel.url }}">{{ rel.title }}</a></li>
                {% endfor %}
              </ul>
          <hr>
          </section>
          <section>
            <footer>
              <address>
                <img src="/images/CircleYin.png">
                <span>Hey I'm Chris Yin - Product Manager and startup guy. I write here about startups, productivity, life, and self improvement.<a href="https://twitter.com/chriseyin" class="twitter-follow-button" data-show-count="false">Follow @chriseyin</a>
                  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </span>
              </address>
            </footer>
          </section>
        {% if site.inc.disqus.shortname %}
          <section>
            {% include _disqus.html %}
          </section>
        {% endif %}
    </div>
</article>